h1 {
  padding-left: 8px;
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  margin-bottom: 16px;
}

nav a {
  border: 2px solid black;
  border-radius: 8px;
  margin: 4px;
  padding: 5px 5px 5px 5px;
}
nav {
  margin-bottom: 16px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
main {
  display: flex;
}

.articleCard {
  border: 2px dashed;
  width: 250px;
  margin: 8px;
  padding: 8px;
  flex: auto;
  text-align: center;
}

img {
  width: 50%;
}

body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  padding: 20px;
}

article {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid black;
  margin-bottom: 16px;
}

article h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 10px;
  padding-left: 8px;
}

article img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
  border-radius: 8px;
}

article div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 0.9em;
  color: #555;
}

article div p {
  margin-bottom: 0;
}

article p:last-of-type {
  font-weight: bold;
  padding-left: 16px;
}

.comment-list {
  display: flex;
  flex-direction: column;
}

.comment-card {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.comment-card button {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

button {
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}

.vote-error {
  color: red;
  margin-top: 0.5rem;
}